h4 {
    background-color: #3498db;
    border-radius: 10px;
    border: 0px solid rgb(0, 0, 0);
    width: 500px;
    height: 50px;
    margin-top: 5px;
    margin-left: 471px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px rgba(180, 180, 180, 60%);
}

h4:hover {
    background-color: #2980b9;
    /*left: 672px;*/
    padding: 5px;
}

h3 {
    background-color: #3498db;
    border-radius: 10px;
    border: 0px solid rgb(0, 0, 0);
    width: 130px;
    height: 30px;
    margin-left: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px rgba(180, 180, 180, 60%);
}

h3:hover {
    background-color: #2980b9;
    /*left: 672px;*/
    padding: 5px;
}

a {
    color: #000000;
    text-decoration: none;
}