.rside {
    position: absolute;
    width: 298px;
    height: 739px;
    left: 20px;
    top: 14px;
    background-color: white;
    overflow-y: auto;
    border: 0 solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

.midside {
    position: absolute;
    width: 698px;
    height: 739px;
    left: 338px;
    top: 14px;
    background-color: white;
    overflow-y: auto;
    border: 0 solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}


.q{
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid rgb(0, 0, 0);
    width: 500px;
    height: 130px;
    position: absolute;
    top: 20px;
    left: 99px;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

input[type="submit"] {
    position: absolute;
    left: 677px;
    width: 85px;
    height: 30px;
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid black;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
    transition-duration: 0.5s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
    width: 90px;
    height: 35px;
}

question {
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid rgb(0, 0, 0);
    width: 500px;
    height: 50px;
    position: absolute;
    left: 1271px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px rgba(180, 180, 180, 60%);
}

question:hover {
    background-color: #2980b9;
    padding: 5px;
}

category {
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

category:hover {
    background-color: #2980b9;
    /*left: 672px;*/
    padding: 3rem;
}

a {
    color: #000000;
    text-decoration: none;
}
