h5 {
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid rgb(0, 0, 0);
    width: 150px;
    height: 72px;
    margin-top: 5px;
    margin-left: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

h5:hover {
    background-color: #2980b9;
    padding: 3rem;
}

h4 {
    background-color: #3498db;
    border-radius: 10px;
    border: 0 solid rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-left: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

h4:hover {
    background-color: #2980b9;
    /*left: 672px;*/
    padding: 3rem;
}

a {
    color: #000000;
    text-decoration: none;
}