
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question {{ question.pk }}</title>

    <style>
                            .q{
        background-color: rgb(180, 180, 180);
        border-radius: 10px;
        border: solid rgb(0, 0, 0) 1px;
        width: 500px;
        height: 130px;
        margin-top: 5px;
        margin-left: 445px;
        }
                            </style>

</head>
<body bgcolor="lightgreen">
    
    <div class="q">
        <h2 id="title">title:{{question.title}}</h2>
        <h1 id="text">text: </h1>
        <br>

        <div class="Q">
            <h4>
                {% for line in LinedQuestion %}
                    {{ line }} <br>
                {% endfor %}
            </h4>
        </div>
            
        <h5 id="ct" style="position: absolute;left: 690px;top: 290px;">created time: {{question.created_time}}</h5>
    </div>

    
    {% for text in LinedAnswers %}
        <h4>
            <div class="Answer{{ forloop.counter0 }}">
                        
    
                    {% for line in text %}
                        <span style="white-space: pre;">  {{ line }}</span>
                    {% endfor %}
                
                <br>
                <h6>{{ answer.created_time }}</h6>
            </div>
        </h4>
    {% endfor %}

    <form action="/questions/{{ question.pk }}/answers/add/" method="POST">

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Add" id="addbtn">

    </form>

    <script src="{% static 'questions/add-answer-to-question.js' %}"></script>

</body>
</html>



