{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    
    <link rel="stylesheet" href="{% static 'questions/asked-questions.css' %}">

</head>
<body bgcolor="#e0e4e8">
        {% for question in questions %}
            <h4><a href="/questions/{{ category.pk }}/{{ question.pk }}">title: {{ question.title }} | created time: {{ question.created_time }}</a></h4>
        {% endfor %}

        <h3><a href="/questions/create/">create</a></h3>

    <!--<script>
        let element = document.getElementById("createbtn");
        element.style.left = "615px";
        element.style.top = `${document.getElementsByTagName("h4").length * 50}px`;
    </script>-->

</body>
</html>