{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>

    <link rel="stylesheet" href="{% static 'questions/categories.css' %}">

</head>
<body bgcolor="#e0e4e8">
    <script> var counter = 0 </script>
    {% for category in categories %}
        <h4><a href="/questions/{{ category.pk }}/" id="{{ forloop.counter }}"></a></h4>
        
        <script>
            counter = counter + 1;
            var s{{forloop.counter}} = counter;
            document.getElementById("{{ forloop.counter }}").innerHTML = `${s{{ forloop.counter }}}.{{ category.name }}`;
        </script>
    {% endfor %}
    
    <div class="box">
        <form action="/questions/categories/create/" method="POST">
            <h5>
                {% csrf_token %}
                {{ form }}
            </h5>
        
            <input type="submit" value="create" id="createbtnfc">
        
        </form>
    </div>
        
    <h3><a href="/questions/categories/create/" id="createbtn">create</a></h3>
    
    <script src="{% static 'questions/make-category.js' %}"></script>

</body>
</html>