{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        
        .Form{
            background-color: white;
            border-radius: 10px;
            border: 0 solid black;
            width: 500px;
            height: 480px;
            margin-top: 155px;
            margin-left: 455px;
            box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
        }

    </style>

</head>
<body bgcolor="#e0e4e8">
    <div class="Form">
        <form action="/questions/create/" method="POST">

            {% csrf_token %}
            {{ form.as_p }}


            <input type="submit" value="create" style="position: absolute;left: 677px;top: 596px;width: 75px;height: 30px;border-radius: 10px;border: 1px solid black;">

        </form>
    </div>

    <script src="{% static 'questions/make-asked-question.js' %}"></script>

</body>
</html>