:root {
    --left: 720px;
}

.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin-left: 370px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px rgba(180, 180, 180, 60%);
}

.box {
    background-color: #3498db;
    width: 350px;
    height: 500px;
    position: absolute;
    left: var(--left);
    border-radius: 10px;
    transition-duration: 0.5s;
    z-index: 1;
}